@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 295 70% 33%;
    --primary-foreground: 210 40% 98%;

    --secondary: 38 92% 50%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 287 100% 95%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .fetch-mesh {
    background-color: rgb(251, 146, 60);
    background-image: radial-gradient(
        at 67% 61%,
        rgb(245, 158, 11) 0,
        transparent 37%
      ),
      radial-gradient(at 23% 82%, rgb(234, 88, 12) 0, transparent 30%),
      radial-gradient(at 81% 73%, rgb(225, 29, 72) 0, transparent 50%),
      radial-gradient(at 78% 24%, rgb(131, 24, 67) 0, transparent 60%),
      radial-gradient(at 32% 30%, rgb(112, 26, 117) 0, transparent 52%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
